<div class="container body-content">
            <user>
                <div id="container" style="width:100%;">
                    <div id="left" style="float:left; width:50%;">
                        <h3>Hello, {{user.fullName}}!</h3>
                        <h4>email: {{user.email}}</h4>
                        <h4>Registered since: {{user.dateFormated}}</h4>
                    </div>
                    <div id="right" style="float:right; width:50%;">
                        {{#if user.avatarPath}}
                            <h4>Profile picture:</h4>
                            <img src="{{user.avatarPath}}" width="180" alt="Image">
                        {{/if}}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                    {{#if articles}}
                        <h4>My articles:</h4>
                    {{/if}}
                <div class="row">
                    {{#each articles}}
                        <div class="col-md-6">
                            <article>
                                <header>
                                    <h2>{{this.article}}</h2>
                                </header>

                                <p>{{this.content}}
                                </p>

                                <small class="author">
                                    {{this.author.fullName}}
                                </small>

                                <footer>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                                    </div>
                                </footer>
                            </article>
                        </div>
                    {{/each}}
                </div><br>
                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back to homepage</a>
                    </div>
                </footer>
            </user>
        </div>
    </div>
</div>